.clock-holder
  grid-column 2
  align-self center

  .clock
    width $clockWidth
    height 300px
    border 10px solid black
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background white
    border-radius 50%
    position relative

    ul
      margin 0
      padding 0
      margin-top 5px

      li
        list-style-type none
        width 2px
        background #000
        height 290px
        position absolute
        left 50%
        z-index 1
        for num in 1 2 3 4 5 6 7 8 9 10 11 12
          &:nth-child({num})
            transform rotateZ(30deg * num)

        &:after
          content ''
          z-index 100
          background white
          width 4px
          position absolute
          height 265px
          left -1px
          top 12px

    #big-hand
      width 7px
      height 130px
      background black
      position absolute
      left calc(50% - 3.5px)
      z-index 101
      top calc(50% - 130px)
      border-radius 10px
      transform-origin bottom


    #small-hand
      width 3px
      transform-origin bottom
      height 80px
      background black
      position absolute
      left calc(50% - 1.5px)
      z-index 101
      top calc(50% - 80px)
      border-radius 10px

    #second-hand
      width 1px
      transform-origin bottom
      height 100px
      background black
      position absolute
      left calc(50% - 1.5px)
      z-index 101
      top calc(50% - 100px)
      border-radius 10px
