$clockWidth = 300px

body
  display grid
  justify-items center
  grid-template-columns repeat(3, 1fr)
  background $background
  min-height calc(100vh - 16px)



      //.center
      //    width 8px
      //    height 8px
      //    background black
      //    position absolute
      //    border-radius 50%
      //    top calc(50% - 4px)
      //    left calc(50% - 4px)
      //    z-index 102
